{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "graphql": true,
    "createSpyObj": true,
    "React": true,
    "shallow": true,
    "render": true,
    "mount": true
  },
  "rules": {
    "strict": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/accessible-emoji": 0,
    "arrow-body-style": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "prettier/prettier": ["warn", {
      "semi": true,
      "singleQuote": true,
      "trailingComma": "es5"
    }]
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "flowtype",
    "emotion"
  ]
}
