{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react-hooks", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "graphql": true,
    "createSpyObj": true,
    "React": true
  },
  "rules": {
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    "react/state-in-constructor": 0,
    "react/static-property-placement": 0,
    "jsx-a11y/accessible-emoji": 0,
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": false
      }
    ],
    "no-unused-expressions": [
      2,
      {
        "allowShortCircuit": true,
        "allowTaggedTemplates": true
      }
    ],
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
