@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin make-container() {
  // padding: 0 $grid-gutter-width / 2;
  padding: 0 1.25rem;
  margin: 0 auto;
  width: 100%;
}

@mixin make-container-breakpoints($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    $bp-val: map-get($breakpoints, $breakpoint);
    @if $bp-val > 0 {
      @include media($bp-val) {
        max-width: $container-max-width;
      }
    }
  }
}

@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
}

@mixin make-col-ready() {
  position: relative;
  width: 100%;
  min-height: 1px; // Prevent collapsing
  padding: 0 1rem;
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}