@mixin clearfix {
  &:before {
    content: '';
    display: table;
    clear: both;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin heading-font {
  font-family: 'Brown', sans-serif;
  font-weight: 400;
}
@mixin text-font {
  font-family: 'Brown', sans-serif;
  font-weight: 300;
 }
