<section id="blog">
  <div class="container">
    <h1 class="title">Blog</h1>

    <ul class="posts">
      {% for post in site.posts %}
        <li>
          <div class="post-outer">
            <span class="category">
              <a href="" class="post-tag">{{ post.categories }}</a>
            </span>
            {% if page.featured-img %} <!-- To be fixed -->
            <a href="{{ post.url }}">
                <span class="img-link">
                  <img src="{{featured-img}}" alt="">
                </span>
              </a>
            {% endif %}
            <a class="" href="{{ post.url }}">
              <div class="post-inner">
                <div class="post-inner-contianer">
                  <div class="post-inner-header">
                    <h3 class="post-title">{{ post.title }}</h3>
                    <time>{{ post.date | date_to_string }}</time>
                  </div>
                  <p>{{ post.content | strip_html | truncatewords:40 }}</p>
                </div>
              </div>
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="btn-center">
      <a href="#" class="btn">view more</a>
    </div>
  </div>
</section>
