<section id="contact">
  <h1 class="title">contact</h1>
  <div class="container">
    <div class="pre-contact">
      <h3>Let's work on something creative together!</h3>
      <p>Fill in the form or <a href="mailto:{{site.email}}">email me</a>
        to discuss your next project.</p>
    </div>
    <div class="contact-left">
      <form id="contactForm" action="https://formspree.io/{{site.email}}" method="post" novalidate>
      <div class="inner-container">

        <div class="input half">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required onBlur="if(this.value !='') dataLayer.push({event: 'pageview', pageview: '/virtual/form/firstname'})">
        </div>

        <div class="input half">
          <label for="email">Email</label>
          <input type="email" name="_replyto" id="email" required onBlur="if(this.value !='') dataLayer.push({event: 'pageview', pageview: '/virtual/form/email'})">
        </div>

        <div class="input">
          <label for="message">Message</label>
          <textarea type="text" name="message" id="message" rows="7" required onBlur="if(this.value !='') dataLayer.push({event: 'pageview', pageview: '/virtual/form/message'})"></textarea>
        </div>

        <input type="hidden" name="_subject" value="Website Form submission">
        <input type="hidden" name="_format" value="plain" />
        <input class="hidden" type="text" name="_gotcha">
        <button id="contactBtn" type="submit" value="Send" onClick="dataLayer.push({event: 'pageview', pageview: '/virtual/form/submit'})">Send</button>
      </form>
      </div>
    </div>
    <div class="contact-right">
      <div class="reference">


        <h4>email</h4>
        <p>{{ site.email }}</p>

        <h4>phone</h4>
        <p>{{ site.phone }}</p>

        <h4>location</h4>
        <p>{{ site.location }}</p>
      </div>
    </div>
  </div>
</section>
