<section id="contact">
  <h1 class="title">contact</h1>
  <div class="container">
    <div class="pre-contact">
      <h3>Let's work on something creative together!</h3>
      <p>Fill in the form or <a href="mailto:{{site.email}}">email me</a>
        to discuss your next project.</p>
    </div>
    <div class="contact-left">
      <form id="contactForm" action="https://formspree.io/{{site.email}}" method="post">
      <div class="inner-container">


        <div class="input half">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required>
        </div>

        <div class="input half">
          <label for="email">Email</label>
          <input type="email" name="_replyto" id="email" required>
        </div>

        <div class="input">
          <label for="message">Message</label>
          <textarea type="text" name="message" id="message" rows="5" required></textarea>
        </div>

        <button type="submit" name="submit" value="Send">Send</button>
      </form>
      </div>
    </div>

    <div class="contact-right">
      <div class="reference">


        <h4>email</h4>
        <p>{{ site.email }}</p>

        <h4>phone</h4>
        <p>{{ site.phone }}</p>

        <h4>location</h4>
        <p>Shangai, China</p>
      </div>
    </div>
  </div>
</section>
