<footer>
  <div class="container">
    <div class="widget">
      <p>&copy; {{ site.time | date: '%Y' }} Jan Czizikow. All rights reserved.</p>
      <div class="legal">
        <ul>
          <li><a href="/privacy">Privacy policy</a></li>
          <li><a href="/sitemap.xml" target="_blank">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <div class="widget">
      <h4>Social</h4>
      <ul class="social">
        <li><a href="" rel="external">LinkedIn</a></li>
        <li><a href="" rel="external">Behance</a></li>
        <li><a href="" rel="external">Blog</a></li>
      </ul>
    </div>
    <div class="widget">
      <h4>Contact</h4>
      <ul>
        <li><a href="tel:+86-131-6700-7112">(+86) 131-6700-7112</a></li>
        <li><a href="mailto:jan_czizikow@hotmail.com">jan_czizikow@hotmail.com</a></li>
      </ul>
    </div>
  </div>
</footer>
<a href="#" id="top">top</a>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/scripts.js"></script>
