<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBBVPGQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<input type="checkbox" id="expanded" />
<header id="header" class="top">
  <div class="container">
    <nav id="navigation">
      <a href="{{site.url}}" class="logo">Jan Czizikow</a>
      <label for="expanded" class="nav-toggle" aria-label="mobile menu">
        <span></span>
        <span></span>
        <span></span>
      </label>
        <ul id='navLink' class="menu-left">
            <li><a href="{{site.url}}/#about">About</a></li>
            <li><a href="{{site.url}}/#skills">Skills</a></li>
            <li><a href="{{site.url}}/#projects">Projects</a></li>
            <li><a href="{{site.url}}/blog">Blog</a></li>
            <li><a href="{{site.url}}/#contact">Contact</a></li>
        </ul>
    </nav>
  </div>
</header>
<div class="overlay"></div>
