<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#277cea">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBBVPGQ');</script>
	<!-- End Google Tag Manager -->

	<!-- Plain Description -->
	<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
	<link rel="image/x-icon" href="{{site.url}}assets/img/favicons/favicon.ico">
	<meta rel="author" content="{{ site.data.settings.seo.rel-author }}">
	<meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">


	<!-- Facebook -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}"/>
	<meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}"/>
	<meta property="og:image" content="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}{{site.socialimg}}{% endif %}"/>
	<meta property="og:url" content="{{site.url}}{{page.url}}"/>
	<meta property="og:site_name" content="{{ site.title }} "/>


	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
	<meta name="twitter:image" content="{{site.url}}{{site.socialimg}}">
	<meta name="twitter:url" content="{{site.url}}{{page.url}}">

	<!-- CSS & fonts -->
	<link rel="stylesheet" href="/assets/css/main.css">

	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "Person",
	  "name": "Jan Cziżikow",
		"alumniOf": "Donghua University",
		"email": "{{site.email}}",
		"gender": "Male",
		"jobTitle": "Performance marketing trainee",
		"affiliation": "Motion Global Ltd.",
	  "url": "{{site.url}}",
	  "sameAs": [
	    "http://www.facebook.com/{{site.facebook}}",
			"http://www.twitter.com/{{site.twitter}}",
	    "http://instagram.com/{{site.instagram}}",
	    "http://www.linkedin.com/in/{{site.linkedin}}",
	    "http://plus.google.com/{{site.googleplus}}"
	  ]
	}
	</script>
	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "WebSite",
	  "name": "Jan Czizikow",
	  "alternateName": "Jan Czizikow // Official",
	  "url": "{{site.url}}"
	}
	</script>
</head>
