<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBBVPGQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<input type="checkbox" id="expanded" />
<header id="header">
  <div class="container">
    <div class="bg-head bg-transparent"></div>
    <nav id="navigation">
      <a href="/" class="logo">Jan Czizikow</a>
      <label for="expanded" class="nav-toggle" aria-label="mobile menu">
        <span></span>
        <span></span>
        <span></span>
      </label>
        <ul class="menu-left">
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
  </div>
</header>
<div class="overlay"></div>
<a id="top">

</a>
