<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBBVPGQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<input type="checkbox" id="expanded" />
<header id="header">
  <div class="container">
    <div class="bg-head bg-transparent"></div>
    <nav id="navigation">
      <a href="/" class="logo">Jan Czizikow</a>
      <label for="expanded" class="nav-toggle" aria-label="mobile menu">
        <span></span>
        <span></span>
        <span></span>
      </label>
        <ul class="menu-left">
          {% for item in site.data.settings.menu %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
    </nav>
  </div>
</header>
<div class="overlay"></div>
