<section id="hero">
  <div class="container">
    <div class="intro">
      <h1 class="effect">{{ site.title }}</h1>
      <p class="lead fade">{{ site.data.settings.tagline }}
      <span>{{ site.data.settings.cta }}</span></p>
      <div class="lead fade">
        <a id='aboutBtnHero' href="{{site.url}}#about" class="btn">About</a>
        <a id='contactBtnHero' href="{{site.url}}#contact" class="btn">Contact</a>
      </div>
    </div>
    <a id='scrollHero' href="{{site.url}}#about" class="scroll">
      <div>scroll</div>
      <span class="down"></span>
    </a>
  </div>
</section>
