<section id="projects">
  <h1 class="title">projects</h1>
  <div class="container">
    <ul class="image-container">
      {% for project in site.data.settings.projects %}
      <li data-folder="{{ project.folder }}">
        <a class="project-item" href="{{site.url}}/projects/{{ project.folder }}">
          <figure>
            <picture>
              <source media="(min-width: 1200px)" srcset="assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_xl.jpg, assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_xl@2x.jpg 2x">
              <source media="(min-width: 992px)" srcset="assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_lg.jpg, assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_lg@2x.jpg 2x">
              <source media="(min-width: 768px)" srcset="assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_md.jpg, assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_md@2x.jpg 2x">
              <source media="(min-width: 576px)" srcset="assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_sm.jpg, assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_sm@2x.jpg 2x">
              <source media="(min-width: 0)" srcset="assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_xs.jpg, assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_xs@2x.jpg 2x">
              <img src="assets/img/projects/{{project.folder}}/{{project.folder}}-thumb_lg@2x.jpg" alt="{{ project.name }}">
            </picture>
            <figcaption>
              <h3>{{ project.name }}</h3>
              <p>{{ project.cat }}</p>
            </figcaption>
          </figure>
        </a>
        {% endfor%}
      </li>
    </ul>
  </div>
</section>
