<section id="projects">
  <h1 class="title">projects</h1>
  <div class="container">
    <ul class="image-container">
      {% for project in site.data.settings.projects %}
      <li data-folder="{{ project.folder }}">
        <a class="project-item" href="{{ site.github.url }}/projects/{{ project.folder }}">
          <figure>
            <img src="assets/img/projects/{{project.folder}}/{{project.folder}}.png" alt="{{ project.name }}">
            <figcaption>
              <h3>{{ project.name }}</h3>
              <p>{{ project.cat }}</p>
            </figcaption>
          </figure>
        </a>
        {% endfor%}
      </li>
    </ul>
  </div>
</section>
