header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  will-change: transform;
  transition: transform .30s ease;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  @include clearfix;
  .bg-head {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  nav {
    padding: 0.625rem 0;
    @include clearfix;
    .logo {
      float: left;
      padding-top: .25rem;
      padding-bottom: .25rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      font-weight: 500;
      color: $heading-color;
      &:hover:after, :active:after, :focus:after {
        display: none;
        width: 0%;
        transition: all .35s cubic-bezier(.694,.048,.335,1);
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
      li {
        float: none;
        margin-left: 0;
        border-bottom: 1px solid rgba(214,214,214,0.5);
        @include breakpoint($md) {
          float: left;
          margin-left: 1rem;
          border: 0;
        }
        &:last-child {
          border: 0;
        }
        a {
          display: block;
        @include breakpoint($sm) {
          display: block;
          padding: .425rem 0rem;
        }
        }
      }
    }
  }
}
@media(max-width: 768px) {
  nav {
    ul {
      clear: both;
      li {
        padding: 0.938em 0 0.938em 0;
        opacity: 0;
        transform: translate3d(0, -25px, 0);
        transition: 0.5s ease;
      }
    }
  }
}
.bg-head {
  background-color: rgba(255,255,255,.96);
  transition: background-color 0.5s ease;
  // transition: background .3s,
  // -webkit-transform .5s cubic-bezier(.694,.048,.335,1);
  // transition: transform .5s cubic-bezier(.694,.048,.335,1),background .3s;
  // transition: transform .5s cubic-bezier(.694,.048,.335,1),background .3s,
  // -webkit-transform .5s cubic-bezier(.694,.048,.335,1);
}

#expanded {
  display: none;
}

#expanded:checked ~ #header .container .bg-head {
  background-color: #fff;
  transition: background-color 0.5s ease;
  transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
}
// #expanded:checked ~ ul.menu-left {
//     max-height: 15em !important;
// }
// #expanded:checked ~ div.overlay {
//     opacity: 1;
//     width: 100%;
//     height: 100%;
// }

.hide-nav {
  transform: translateY(-100%!important);
  -webkit-transform: translateY(-100%)!important;
}
.bg-transparent {
  background-color: transparent;
}

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  z-index: 10;
  @include breakpoint($md) {
    display: block!important;
    float: right;
    max-height: none;
  }
  &:before {
    content: '';
    display: table;
    clear: both;
  }
  &.collapse {
    max-height: 20em!important;
    li {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:nth-child(5) {
        transition-delay: 0.07s;
      }
      &:nth-child(4) {
        transition-delay: 0.14s;
      }
      &:nth-child(3) {
        transition-delay: 0.21s;
      }
      &:nth-child(2) {
        transition-delay: 0.28s;
      }
      &:nth-child(1) {
        transition-delay: 0.35s;
      }
    }
  }
}

// Burger
.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
  margin-right: -8px;
  &.open span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
  }
  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  &.open span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
  }
  @include breakpoint($md) {
    display: none;
  }
  span {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    border-radius: 5px;
    background-color: $heading-color;
    transition: all .3s cubic-bezier(1, 0.13, 0.35, 1.09);
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index:2;
  height: 0;
  width: 0;
  background-color: rgba(0,0,0,0.75);
  opacity: 0;
  transition: opacity 1s ease 0.1s;
  &.show {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
