.controls {
  padding: 40px 0;
  background-color: #eee;
  .control {
    @include gallery(4);
    &:nth-child(2n) {
      text-align: center;
    }
    &:nth-child(3n) {
      text-align: right;
      @include last;
    }
    a {
      color: #6D6D6D;
      &:hover {
        color: #222325;
      }
    }
  }
}
.home {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: auto;
    fill:#6D6D6D;
  }
  &:hover {
    svg {
      fill: #222325;
    }
  }
}
.comments {
  padding: 50px 0px 50px;
  background-color: #fafafa;
  .container {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

article {
  color: rgba(0,0,0,.8);
}
