.controls {
  padding: 40px 0;
  background-color: $light-bg-color;
  .control {
    @include susy-breakpoint($md, 12) {
      @include gallery(4);
      &:nth-child(2n) {
        text-align: center;
      }
      &:nth-child(3n) {
        text-align: right;
        @include last;
      }
    }
  }
}
