#projects {
  overflow-x: hidden;
}

.center {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  img {
    margin-bottom: 50px;
  }
}

.showcase {
  background-color: #F6F6F6;
}


.projects-wrap {
  width: 200%;
  position: relative;
  left: 0%;
  transition: all 0.8s ease;
}

.thumb-wrap, .project-wrap {
  width: 50%;
  float: left;
}

.project-container {
    max-width: 960px;
    margin: 0px auto;
    display: none;
    h2 {
      text-align: center;
    }
}
