/*
Sass::SyntaxError: "header nav .logo" failed to @extend "%heading-font".
The selector "%heading-font" was not found.
Use "@extend %heading-font !optional" if the extend should be able to fail.


Backtrace:
/Users/Johnny/Documents/Web/PROJECTS/Website/hollow3d.github.io/assets/css/3_pages/_nav.scss:25
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:62:in `block in check_extends_fired!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `block in each_value'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `each_value'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:51:in `check_extends_fired!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:39:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \"header nav .logo\" failed to @extend \"%heading-font\".\A The selector \"%heading-font\" was not found.\A Use \"@extend %heading-font !optional\" if the extend should be able to fail.\A "; }
