@import "grid";

// Breakpoints
$xs: 0;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

header {
  position: relative;
  transition: top 0.2s ease-in-out;
  padding: .5rem;
  width: 100%;
  nav {
    .logo {
      float: left;
      padding-top: .25rem;
      padding-bottom: .25rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      font-weight: 500;
      color: rgba(0,0,0,.5);
      // @extend %heading-font;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
      li {
        float: none;
        margin-left: 0;
        @include breakpoint($md) {
          float: left;
          margin-left: 1rem;
        }
        a {
        @include breakpoint($sm) {
          display: block;
          padding: .425rem 0rem;
        }
        }
      }
    }
  }
}

.menu-left {
  display: none;
  max-height: 0px;
  transition: all .4s ease;
  z-index: 10;
  @include breakpoint($md) {
    display: block!important;
    float: right;
    height: auto;
  }
  &:before {
    content: '';
    display: table;
    clear: both;
  }
  &.collapse {
    display: block!important;
    background-color: $bg-color;
    max-height: 15em!important;
    padding: 15px;
  }
}

// Burger
.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
  &.open span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
  }
  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  &.open span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
  }
  @include breakpoint($md) {
    display: none;
  }
  span {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-color: $text-color;
    transition: all .25s;
  }
}
