@import "nav";

// HERO

section {
  text-align: center;
  padding: 0 20%;
  height: 100vh;
}

.wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/* H1 EFFECT */
.effect {
  font-size: 6vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-weight: 700;
  display: inline-block;
  position: relative;
 -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #222 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size:200% 100%;
  transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
}

.effect:before{
  content: "";
  height: 100%;
  width: 100%;
  background: #eaeaea;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect:after{
  content: "";
  height: 100%;
  width: 100%;
  background: #222;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect.active {
  background-position: 0 0;
}

.effect.active:before {
    animation: anime 1.2s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.effect.active:after {
    animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
@keyframes anime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51%{
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

// Button EFFECT

.button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 2em;
  padding: 2px 10px;
  background: #222;
  margin: 20px 20px 0px 20px;
  transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  color: #fff;
  transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  letter-spacing: 1px;
}

a.button.outline {
  position: relative;
  background: transparent;
  border: 1px solid #222;
  overflow: hidden;
}

.button.outline:before {
  content: "";
  height: 100%;
  z-index: -1;
  width: 100%;
  background: #222;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  -webkit-transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  -moz-transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  transform-origin:right;
  -webkit-transform-origin:right;
}
.button.outline span {
  position: relative;
  z-index: 3;
   -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #FFF 50%, #222 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size:200% 100%;
  color: transparent;
  transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
  -webkit-transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
  -moz-transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
}
.button.outline:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform-origin:left;
  -webkit-transform-origin:left;
}
.button.outline:hover{
  box-shadow: none;
}
.button.outline:hover span{
  background-position: 0 0;
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s all ease-out 2s;
}
a.fade {
  transition: 0.6s all ease-out 2.6s;
}
.fade.active {
  transform: translateY(0);
  opacity: 1;
}


// FOOTER
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  ul {
    padding: 0px;
  }
  li {
    display: inline-block;
    margin-left: 20px;
    &:first-child {
      margin-left: 0px;
    }
    a {

    }
  }
}
