// Typography
@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat');

* {
  outline: none;
  list-style: none;
  text-decoration: none;
  color: #111;
}

body {
  font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 10px 0 0 0;
}
