<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
    {% include hero.html %}

    {% include about.html %}

    <!-- <section>
      <div class="container">

        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <a class="extra" href="/">home</a>

        {{ content }}

      </div>
    </section> -->

    {% include skills.html %}

    {% include projects.html %}

    {% include contact.html %}

    </main>

    {% include footer.html %}

  </body>

</html>
