---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    <main>
      <section class="project">
        <div class="container">
          <a class="return" href="/">
            <svg class="arrow" version="1.1" id="arrow-back" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <g>
              <path class="st1" d="M31.7,37.4L18.3,24 M31.7,12.6L18.3,26"/>
            </g>
            </svg>
          </a>
          <div class="center">

            <h2 class="title">{{ page.title }}</h2>

            {{ content }}

          </div>
        </div>
      </section>
      <section class="showcase">
        <div class="container">
          <div class="center">

            {% for image in page.image %}
              <img src="{{page.image[forloop.index0]}}">
            {% endfor%}

          </div>
        </div>
      </section>
      <div class="controls">
        <div class="container">
          <div class="post-nav">
            {% if page.previous %}
              <a class="prev" href="{{prev}}">&laquo; Previous project</a>
            {% endif %}
            <a href="/" class="home">Home</a>
            {% if page.next %}
              <a class="next" href="{{next}}">Next project &raquo;</a>
            {% endif %}
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
