---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NBBVPGQ');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.data.settings.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">

</head>
  <body>

    {% include header.html %}
    <main>
      <section class="project">
        <div class="container">
          <a class="return" href="/">
            <svg class="arrow" version="1.1" id="arrow-back" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <g>
              <path class="st1" d="M31.7,37.4L18.3,24 M31.7,12.6L18.3,26"/>
            </g>
            </svg>
          </a>
          <div class="center">

            <h2 class="title">{{ page.title }}</h2>

            {{ content }}
          </div>
        </div>
      </section>
      <section class="showcase">
        <div class="container">
          <div class="center">

            add images here

          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>
</html>
