---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include headrooted.html %}
    <main role="main">
      <div class="content-ajax">
      <section class="project">
        <div class="container">
          <div class="center">

            <h2 class="title">{{ page.title }}</h2>

            {{ content }}

          </div>
        </div>
      </section>
      <section class="showcase">
        <div class="container">
          <div class="center">

            {% for image in page.image %}
            <picture>
              <source media="(min-width: 992px)" srcset="{{page.image[forloop.index0]}}_lg.jpg, {{page.image[forloop.index0]}}_lg@2x.jpg 2x">
              <source media="(min-width: 768px)" srcset="{{page.image[forloop.index0]}}_md.jpg, {{page.image[forloop.index0]}}_md@2x.jpg 2x">
              <source media="(min-width: 576px)" srcset="{{page.image[forloop.index0]}}_sm.jpg, {{page.image[forloop.index0]}}_sm@2x.jpg 2x">
              <source media="(min-width: 0)" srcset="{{page.image[forloop.index0]}}_xs.jpg, {{page.image[forloop.index0]}}_xs@2x.jpg 2x">
              <img src="{{page.image[forloop.index0]}}_lg.jpg" alt="{{page.title}} project - Developed by Jan Czizikow" style="width:auto;">
            </picture>
            {% endfor %}


          </div>
        </div>
      </section>
      <div class="controls">
        <div class="container">
          <div class="controls-wrap">
              <div class="control">
                {% for previous in page.previous %}
                  <a class="prev" href="{{site.url}}/projects{{ previous.link }}">&laquo; Previous project</a>
                {% endfor %}
              </div>

              <div class="control">
                <a href="{{site.url}}" class="home"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/>
                    <path d="M0 0h24v24H0z" fill="none"/></svg>
                </a>
              </div>

              <div class="control">
                {% for next in page.next %}
                  <a class="next" href="{{site.url}}/projects{{ next.link }}">Next project &raquo;</a>
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
