---
layout: test
comments: true
---
<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="en" class="fonts-loaded">
<!--#else -->
<html lang="en">
<!--#endif -->

  {% include head.html %}

  <body class="no-js post">

    {% include headerHero.html %}
    <main role="main">
      <div class="content-ajax">
      <section class="post-test">
        <article itemscope itemtype="http://schema.org/BlogPosting">
        <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{site.url}}/{page.url}"/>
         <meta itemprop="inLanguage" content="en-US"/>
           <div class="post-hero-wrap">
             <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" class="post-bg-image" {% if page.featured-img %} style="background-image: url('/assets/img/posts/{{page.featured-img}}/{{page.featured-img}}.jpg');" {% endif %}>
               <meta itemprop="url" content="{{site.url}}/assets/img/posts/{{page.featured-img}}/{{page.featured-img}}.jpg"/>
               <meta itemprop="width" content="1600"/>
               <meta itemprop="height" content="900"/>
               <div class="container">
                <div class="post-hero">
                  <div class="post-intro">
                    <h1 itemprop="headline">{{ page.title }}</h1>
                    <div class="post-meta">
                      <span class="meta" itemprop="datePublished">
                        <time>{{ page.date | date_to_string }}</time>
                        &nbsp;
                      </span>
                      <span>
                        {% assign words = content | number_of_words %}
                        {% if words < 360 %}
                          1 min
                        {% else %}
                          {{ words | divided_by:180 }} mins
                        {% endif %} read
                      	&nbsp;
                      </span>
                      <div style="display: inline-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">
                          {{ site.data.settings.seo.rel-author }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="container">
              <div class="post-content" itemprop="articleBody">

                {{ content }}

              </div>
            </div><!--/.container  -->
          </div><!--/.content  -->
        </article>
      </section>
      <div class="controls">
        <div class="container">
          <div class="controls-wrap">
            <div class="control">
              {% if page.previous.url %}
                <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
              {% endif %}
            </div>
            <div class="control">
              <a href="/blog" class="home">
                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
              </a>
            </div>
            <div class="control">
              {% if page.next.url %}
                <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <div class="container">
          <div class="comments-wrap">
            {% if page.comments %}
              {% include disqus.html %}
            {% endif %}
          </div>
        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>
</html>
